altgraph
asgiref
autopep8
black
certifi
charset-normalizer
click
colorama
Django
django-eventstream
django-grip
future
gripcontrol
idna
MarkupSafe
mypy-extensions
pathspec
pefile
Pillow
pip
platformdirs
psycopg2
pubcontrol
pycodestyle
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pywin32-ctypes
requests
setuptools
six
sqlparse
toml
tomli
tzdata
urllib3
Werkzeug
wheel
whitenoise
dj_database_url
gunicorn
